src/com/roomreservation/roomreservation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://roomreservation.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://roomreservation.com/" name="RoomReservationImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://roomreservation.com/" schemaLocation="http://127.0.0.1:8080/roomreservation?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="createRoom">
        <part name="arg0" type="xsd:int"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="tns:arrayList"/>
    </message>
    <message name="createRoomResponse">
        <part name="return" type="xsd:base64Binary"/>
    </message>
    <message name="deleteRoom">
        <part name="arg0" type="xsd:int"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="tns:arrayList"/>
    </message>
    <message name="deleteRoomResponse">
        <part name="return" type="xsd:base64Binary"/>
    </message>
    <message name="bookRoom">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="xsd:int"/>
        <part name="arg3" type="xsd:string"/>
        <part name="arg4" type="xsd:string"/>
    </message>
    <message name="bookRoomResponse">
        <part name="return" type="xsd:base64Binary"/>
    </message>
    <message name="getAvailableTimeSlot">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="getAvailableTimeSlotResponse">
        <part name="return" type="xsd:base64Binary"/>
    </message>
    <message name="cancelBooking">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="cancelBookingResponse">
        <part name="return" type="xsd:base64Binary"/>
    </message>
    <message name="changeReservation">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="xsd:string"/>
        <part name="arg3" type="xsd:int"/>
        <part name="arg4" type="xsd:string"/>
        <part name="arg5" type="xsd:string"/>
    </message>
    <message name="changeReservationResponse">
        <part name="return" type="xsd:base64Binary"/>
    </message>
    <portType name="RoomReservation">
        <operation name="createRoom" parameterOrder="arg0 arg1 arg2">
            <input wsam:Action="http://roomreservation.com/RoomReservation/createRoomRequest" message="tns:createRoom"/>
            <output wsam:Action="http://roomreservation.com/RoomReservation/createRoomResponse" message="tns:createRoomResponse"/>
        </operation>
        <operation name="deleteRoom" parameterOrder="arg0 arg1 arg2">
            <input wsam:Action="http://roomreservation.com/RoomReservation/deleteRoomRequest" message="tns:deleteRoom"/>
            <output wsam:Action="http://roomreservation.com/RoomReservation/deleteRoomResponse" message="tns:deleteRoomResponse"/>
        </operation>
        <operation name="bookRoom" parameterOrder="arg0 arg1 arg2 arg3 arg4">
            <input wsam:Action="http://roomreservation.com/RoomReservation/bookRoomRequest" message="tns:bookRoom"/>
            <output wsam:Action="http://roomreservation.com/RoomReservation/bookRoomResponse" message="tns:bookRoomResponse"/>
        </operation>
        <operation name="getAvailableTimeSlot">
            <input wsam:Action="http://roomreservation.com/RoomReservation/getAvailableTimeSlotRequest" message="tns:getAvailableTimeSlot"/>
            <output wsam:Action="http://roomreservation.com/RoomReservation/getAvailableTimeSlotResponse" message="tns:getAvailableTimeSlotResponse"/>
        </operation>
        <operation name="cancelBooking" parameterOrder="arg0 arg1">
            <input wsam:Action="http://roomreservation.com/RoomReservation/cancelBookingRequest" message="tns:cancelBooking"/>
            <output wsam:Action="http://roomreservation.com/RoomReservation/cancelBookingResponse" message="tns:cancelBookingResponse"/>
        </operation>
        <operation name="changeReservation" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
            <input wsam:Action="http://roomreservation.com/RoomReservation/changeReservationRequest" message="tns:changeReservation"/>
            <output wsam:Action="http://roomreservation.com/RoomReservation/changeReservationResponse" message="tns:changeReservationResponse"/>
        </operation>
    </portType>
    <binding name="RoomReservationImplPortBinding" type="tns:RoomReservation">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="createRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </output>
        </operation>
        <operation name="deleteRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </output>
        </operation>
        <operation name="bookRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </output>
        </operation>
        <operation name="getAvailableTimeSlot">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </output>
        </operation>
        <operation name="cancelBooking">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </output>
        </operation>
        <operation name="changeReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://roomreservation.com/"/>
            </output>
        </operation>
    </binding>
    <service name="RoomReservationImplService">
        <port name="RoomReservationImplPort" binding="tns:RoomReservationImplPortBinding">
            <soap:address location="http://127.0.0.1:8080/roomreservation"/>
        </port>
    </service>
</definitions>